fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

langchain
langchain-community
langchain-text-splitters
langchain-chroma

chromadb

pymupdf
pdfplumber
pypdf

sentence-transformers
transformers
torch

rapidfuzz
tqdm

pandas
numpy

httpx
orjson
